/* style.css */
body {
  font-family: 'Luckiest Guy', cursive;  /* Brawl Stars-like font */
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #4C1C24;  /* Dark red color similar to the Brawl Stars theme */
  color: #ffffff;  /* White text for contrast */
  text-align: center;
}

h1 {
  background-color: #FEEC65; /* Gold color for highlights */
  color: #4C1C24;  /* Dark red text on gold background */
  padding: 40px 20px;
  margin-bottom: 40px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

div#score_single {
  background-color: #88C057;  /* A green from the Brawl Stars logo */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  margin: 0 auto 20px;
  width: 70%;
  max-width: 350px;
  max-height: 350px;
  font-size: 30px;
  justify-content: center;
}

#update {
  font-size: 96px;
}

#score_double {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Takes full viewport height */
  text-align: center;
}

.box {
  width: 150px;  /* You can adjust as per your requirement */
  height: 150px;  /* Adjust as needed */
  margin: 10px;  /* Space between the two boxes */
  font-size: 96px; 
}

#player1 {
  background-color: orange;
}

#player2 {
  background-color: blue;
}

div#timer {
  background-color: rgb(0, 187, 255);
  font-size: 36px;
  padding: 20px;
  min-height: 60px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  margin: 0 auto 20px;
  width: 70%;
  max-width: 350px;

}

/* If you have more elements, continue styling them with appropriate colors. */
