<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Brawl Stars Score</title>
</head>
<body>
    <h1 id="gameMode">Showdown!</h1>
    <div id="timer">

    </div>
    <div id="score_single">
        <p>Score</p>
        <p id="update">{{ starting_score }}</p>
    </div>

    <div id="score_double" style="display:none">
        <div class="player" id="player1">

        </div>
        <div class="player" id="player2">

        </div>
    </div>
    

    <!-- Adding the Socket.io client library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        const socket = io.connect('http://' + document.domain + ':' + location.port);
        let timer;
        let isVersus = 0;

        socket.on('scoreUpdate', (data) => {
            console.log(data);
            if (isVersus) {
                document.getElementById('player1').innerHTML = data.score1;
                document.getElementById('player2').innerHTML = data.score2;
            } else {
                document.getElementById('update').innerHTML = data.score1;
            }
            
        });

        socket.on('gameMode', (data) => {
            isVersus = +data.gameMode;
            document.getElementById('gameMode').innerHTML = isVersus ? "Showdown!" : "Versus";
            if (isVersus) {
                document.getElementById('score_double').style.display = 'flex';
                document.getElementById('score_single').style.display = 'none'
            } else {
                document.getElementById('score_double').style.display = 'none';
                document.getElementById('score_single').style.display = 'flex'
            }
        })

        socket.on('startGame', (data) => {
            console.log(data);
            let countdownSeconds = data.gameMs / 1000;
            const timerDisplay = document.getElementById('timer');
            timerDisplay.innerHTML = countdownSeconds;

            timer = setInterval(() => {
                countdownSeconds--;
                timerDisplay.innerHTML = countdownSeconds;
            
                if (countdownSeconds < 0) {
                    clearInterval(timer);
                    timerDisplay.innerHTML = 0;
                }
            }, 1000)
        })

        socket.on('endGame', () => {
            clearInterval(timer);
            document.getElementById('timer').innerHTML = 'Game Over';
        })
    </script>
</body>
</html>